@page "/about"

<h1>About Me</h1>

<p>My name is Brandon B., and I am a software developer. I have been coding since I was 15 (for perspective, that was 25 years ago) by learning how to make programs with a 
   Casio graphic calculator. Since then, my endeavors in coding have taken me across many platforms, many languages, and some exciting technological advances. Across that time
   I have obtained a Batchelors of Science in Computer Science, with CIS option. My professional career has seen me shift more towards the .NET and C# space in my more than 
   6 years of working experience.</p>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">C#</li>
    <li class="list-group-item">JavaScript</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">HTML</li>
    <li class="list-group-item">CSS</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">jQuery</li>
    <li class="list-group-item">Bootstrap</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">WPF</li>
    <li class="list-group-item">Webforms/Winforms</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">.NET Standard 4.7~</li>
    <li class="list-group-item">.NET 6.0</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">Blazor</li>
    <li class="list-group-item">PHP</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">SQL Server</li>
    <li class="list-group-item">MySQL</li>
</ul>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">C++ (College)</li>
    <li class="list-group-item">Angular.js</li>
</ul>