@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to my development portfolio!</h1>

<p>Feel free to browse around. The links in the navigation bar will direct you to more information about me, as well as example projects hosted on my GitHub page.</p>
