@page "/projects"

<h1>Projects</h1>

<p>Below I will highlight example projects along with their GitHub repositories, if available, that I developed.</p>

<CardItem
    Title="Project Portfolio Page"
    Subtitle=""
    Description="The very page you are viewing, built to give a dashboard interface for viewing my projects. Built using Blazor Webassembly using .NET 6.0"
    UrlLink="https://bmb-workspace.github.io/portfolio/"
    RepoLink="https://github.com/bmb-workspace/portfolio" />